<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="..\static\css\home.css">
  <title>Experte</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  <header class="header">
    <nav class="navbar navbar-style">
      <div class="container">
        <div class="navbar-header">
          <h1>Experte</h1>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/login">login</a></li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <h1 class="big-text">Personal Expense Tracker</h1>
          <p class="text">Control your expenses</p>
          <p class="text">Make your Life Better</p>
          <a class="btn btn-first" href="/signup">SignUp</a>
        </div>
        <div class="col-sm-6">
          <img src="../static/images/home.png" class="img-responsive">
        </div>
      </div>
    </div>
  </header>
</body>
</html>
